@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:var(--font);


}
:root{
    --color1: #FFFFFF;
    --color2: #FBF37C;
    --color3: #7F7F7F;
    --color4: #58555A;
    --color5: #000000; 
    --font:'Lato',san-seri,Arial, Helvetica, sans-serif;
}
body{
    background-color:var(--color2) ;
    
    
}

main{


}
header{
    width: 100%;
    background-color: #58555A;
   box-shadow: 1px 2px 8px 1px black;
   text-align: center;
   padding: 10px;
   color:  var(--color5);
}
header > p{
    font-weight: bold;
}
#container{
 
    max-width: 500px;
  
    margin: 25px auto;
    background-color:var(--color3) ;
  
    border-radius:5px;
    box-shadow: 1px 2px 8px 1px black;
    padding: 20px;
    
    
}
h1{
    background-color:var(--cor3);
    text-align: center;
   
    
}

input{
    border-radius:3px;
    border:none;
    width:30vw;
    display:block;
    margin: 10px auto;
     
    padding: 10px;
    
}

input[type="button"]{
    

    background-color: var(--color1);
    border-radius: 3px;
    font-weight: bold;
    color:var(--color5);
 
}
input[type="button"]:hover{
    cursor: pointer;
        
}

footer> p{
    text-align: center;

}
a{
    text-decoration: none;
    color: var(--color5);
}
a:hover{
    text-decoration: none;
    color: var(--color4);
    
}

